apiVersion: apps/v1
kind: Deployment                         # Creating a Deployment
metadata:
  name: nginx                             # Deployment name
  namespace: roboshop                     # Deployment will run inside 'roboshop' namespace

  # Labels for the Deployment object (for identification only, not used for Pod selection)
  labels:
    purpose: deployment-demo              # Metadata label
    project: roboshop                     # Metadata label

spec:
  replicas: 4                              # Deployment ensures 4 Pods are always running

  selector:                                 # Deployment selects Pods that match these labels
    matchLabels:
      purpose: deployment-demo             # MUST match labels in Pod template
      project: roboshop                    # MUST match labels in Pod template

  # Pod template: defines how each Pod should be created
  template:
    metadata:
      labels:                              # Labels added to Pods created by this Deployment
        purpose: deployment-demo           # MUST match selector labels
        project: roboshop                  # MUST match selector labels
    spec:
      containers:
      - name: nginx                        # Container name
        image: nginx:latest                # Container image (this will be used for rolling updates)